@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Raleway:wght@100;500;600;700&display=swap');

body{
  margin : 0 0 0 0;
}

.app{
  height: 100% ;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  background-color: rgb(36 41 46);
}

ul li a, p {
  font-family: 'Raleway', sans-serif;
  word-break: break-word;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
  word-break: break-word;
}

h1 {
  color: rgb(50 191 170);  
  text-transform: uppercase;
}

.body{
  background-color: white;
  display: flex;
  flex-direction: column;
  flex:1;
  padding:3vh;
  border-radius: 10px;
  box-shadow: 0px 0px 40px grey;
}

.body-row{
  display: flex;
  flex-wrap: wrap;
  padding:3vw;
}

.body-col{
  /* flex:.5; */
  flex:1;
  min-width: 50%;
}

.header{
  padding:3vw;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black ;
}

.headerLeftSec{
  flex:.4;
  display: flex;
  justify-content: center;
}

.headerRightSec{
  padding:30px;
  display: flex;
  flex-direction: column;
  flex:1;
}

.profilePic{
  display: flex;
  justify-content: center;
}

.profilePic div{
  width: 20vh;
}

.profilePic img {
  height: 100%;
  width: 100%;
  border-radius: 25%;
}

.name h1 {
  margin : 0 0 .5em 0;
}

.summary h4{
  margin : 0 0 1.33em 0;
}

.contactInfo{
  display: flex;
  padding: 3vw;
  border-bottom: 1px solid black ;
  flex-wrap: wrap;
}

.contactInfoItem{
  flex:1;
  min-width: 40%;
  display: flex;
  align-items: center;
  margin:0 0 0 3vw;
  line-height: 2;
  align-content: center;
}

.contactInfoItem a{
  margin : 0 0 0 1vw;
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.contactInfoItem svg {
  font-size: 0.8em;
}

.sec{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.secInner{
  display: flex;
  flex-direction: column;
  padding:0 3vw 0 3vw;
  flex:.5;
}

.item{
  padding: 0 0 0 3vw;
  flex: .5;
}

.skill{
  display: flex;
}

.skill h3{
  display: flex;
  flex:0.5;
}

.skill div{
  flex: 1;
  margin-right: 3vw;
}

.bar{
  display: flex;
  align-items: center;
}

.intrustCollection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.intrust{
  flex:1;
  min-width: 40%;
  display: flex;
  align-items: center;
}

.intrust > h3{
  margin-left:1vw;
}

.certificate svg{
  margin : 0 0 0 10px;
  cursor: pointer;
}

.personalProjectsItem p{
  display: flex;
  align-items: center;
}

.personalProjectsItem a{
  margin: 0 10px 0 0;
}

@media only screen and (max-width: 767px) {
  .flexDirCol {
    flex-direction: column;
  }
  .body{
    padding:0;
    line-height: 1;
  }
}